@model CarsReminder.ModelView.IndexContextModelView

@{
    ViewData["Title"] = "Index";
}

<h1>Nasze samochody</h1>

<p>
    <a class="btn btn-primary" asp-action="Create" role="button">Dodaj nowy samochód</a>
    <a class="btn btn-secondary" asp-action="Filtered" role="button">Filtruj samochody</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemList.FirstOrDefault().PhotoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemList.FirstOrDefault().Mark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemList.FirstOrDefault().Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemList.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemList.FirstOrDefault().Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemList.FirstOrDefault().Description)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ItemList) {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.PhotoUrl)*@
                @*<img src=@item.PhotoUrl>*@

                <img src="@item.PhotoUrl" height="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
                @Html.Raw("zł")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
                @Html.Raw("km")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edycja</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
